@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Space+Grotesk:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

span, a, label {
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.all {
    padding: 50px;
    max-width: 1500px;
    background-color: #1E1E1E;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.link_a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
    color: white;
}

.line_a {  
    color: #F5BE32;
}

.line {
    width: 20px;
    height: 2px;
    background-color: #F5BE32;
}

.link1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 3px solid #F5BE32;
    padding: 5px 15px; 
}

.start {
    background-image:linear-gradient(90deg,rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.753)), url(./img21/backround1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.start_title {
    text-align: center;
    padding: 200px 50px;
}

.start_h3 {
    font-family: 'Italianno', cursive;
    font-size: 40px;
    color: white;
}

.h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 70px;
    color: #F5BE32;
    margin-bottom: 20px;
}

.start_p {
    font-size: 18px;
    color: white;
    line-height: 1.6;
    margin-bottom: 30px;
}

.start_a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: 'Space Grotesk', sans-serif;
}

.line1 {
    width: 25px;
    height: 3px;
    background-color: black;
    margin-left: 10px;
}

.start_link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 25px;
    background-color: #F5BE32;
    width: 200px;
    margin: auto;
}

.special {
    margin-top: 30px;
}

.special_title {
    text-align: center;
}

.box_h22 {
    font-family: 'Space Grotesk', sans-serif;
    color: #F5BE32;
    font-size: 50px;
    margin-bottom: 20px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: 33%;
}

.box_h2 {
    font-family: 'Space Grotesk', sans-serif;
    color: #F5BE32;
    margin-bottom: 15px;
}

.box1 {
    margin-top: 20px;
}

.box_p {
    font-size: 18px;
    color: white;
    line-height: 1.6;
    margin-bottom: 10px;
}

.star {
    color: #F5BE32;
    font-size: 20px;
    margin-bottom: 30px;
}

.link2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 15px;
    border: 3px solid #F5BE32;
    width: 200px;
}

.pic {
    margin-top: 60px;
}

.main_title {
    text-align: center;
}

.main_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.main_a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 2px solid white;
    transition: 0.3s all linear;
}

.main_a1 {
    background-color: #F5BE32;
    color: black;
    border: none;
}

.main_a:hover {
    background-color: #F5BE32;
    color: black;
    border: none;
}

.main_boxes {
    margin-top: 50px;
}

.main_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.picc, .title1 {
    width: 49%;
}

.main_h2 {
    font-size: 50px;
    font-family: 'Space Grotesk', sans-serif;
    color: #F5BE32;
    margin-bottom: 30px;
}

.main_p {
    font-size: 20px;
    line-height: 1.6;
    color: white;
    margin-bottom: 30px;
}

.main {
    margin-top: 60px;
}

.big_title {
    text-align: center;
    margin-top: 60px;
}

.big_p {
    font-size: 18px;
    color: white;
    line-height: 1.6;
    margin-bottom: 20px;
}

.big_a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 5px 20px;
    margin-left: 20px;
}

.big_a1 {
    background-color: #F5BE32;
    color: black;
    border: none;
}

.big_title1 {
    display: flex;
    flex-wrap: wrap;
}

.spn {
    font-size: 50px;
    color: #F5BE32;
    font-family: 'Space Grotesk', sans-serif;
    margin-right: 10px;
    margin-left: 10px;
}

.big_h3 {
    font-size: 40px;
    color: #F5BE32;
    font-family: 'Space Grotesk', sans-serif;
}

.big_boxes {
    margin-top: 50px;
}

.big_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.fish {
    margin-top: 40px;
}

.story_title {
    text-align: center;
    margin-top: 50px;
}

.story_box {
    display: flex;
    flex-wrap: wrap;
}

.story_boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.story_txtbox {
    margin-left: 50px;
}

.story_p {
    font-size: 18px;
    color: white;
    line-height: 1.6;
    margin-bottom: 30px;
}

.story_a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #F5BE32;
    padding: 10px 25px;
    border: 2px solid #F5BE32;
    width: 230px;
}

.line2 {
    width: 30px;
    height: 3px;
    background-color: #F5BE32;
    margin-left: 15px;
}

.icon_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon_div1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer {
    text-align: center;
    margin-top: 50px;
    background-image: url(./img21/Rectangle\ 40.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 10px;
}

.footer_h2 {
    font-size: 60px;
    color: #F5BE32;
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 20px;
}

.icon_p1 {
    color: white;
    font-size: 18px;
    margin-right: 50px;
}

.location {
    font-size: 20px;
    color: #F5BE32;
    margin-right: 20px;
}

.footer_a1 {
    text-decoration: none;
    padding: 10px 25px;
    background-color: #F5BE32;
    color: black;
    font-family: 'Space Grotesk', sans-serif;
    margin-top: 40px;
}

.footer_box {
    margin-top: 50px;
}

.footer_a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid #F5BE32;
    margin-top: 30px;
    margin-right: 20px;
    font-family: 'Space Grotesk', sans-serif;
}

.big_title11 {
    display: flex;
    flex-wrap: wrap;
}






@media(max-width:1460px) {
    .big_title1, .big_title11 {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .big_title1 {
        justify-content: center;
    }

    .big_title11 {
        order: -1;
        justify-content: center;
    }
    .img1 {
        margin: auto;
        margin-bottom: 20px;
    }
}


@media(max-width:1220px) {
    .start_title {
        padding: 120px 40px;
    }

    .story_box {
        width: 100%;
        justify-content: center;
    }

    .story_txtbox {
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
    }

    .story_a {
        margin: 0 auto;
    }
}



@media(max-width:1000px) {
    .start_title {
        padding: 90px 30px;
    }
    .h1 {
        font-size: 60px;
    }

    .footer {
        padding: 50px 10px;
    }
}


@media(max-width:850px) {
    .start_title {
        padding: 60px 20px;
    }

    .h1 {
        font-size: 40px;
    }

    .start_h3 {
        font-size: 30px;
    }

    .box_h22 {
        font-size: 40px;
    }

    .box_h2 {
        font-size: 30px;
    }

    .main_h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .main_p {
        line-height: 1;
        margin-bottom: 10px;
    }

    .footer_h2 {
        font-size: 40px;
    }

    .main_a {
        width: 100%;
        margin-bottom: 20px;
    }


    .story_imgbox {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .line {
        display: none;
    }
}


@media(max-width:750px) {
    .link_a {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .link1 {
        width: 100%;
    }

    .box {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .link2 {
        margin: 0 auto;
    }
    
}

@media(max-width:670px) {
    .icon_div1 {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .footer_a1 {
        margin-top: 10px;
    }

    .footer_box {
        margin-top: 10px;
    }

    .title1 {
        width: 100%;
        text-align: center;
    }
    .title11 {
        order: 1;
        text-align: center;
        margin: 0 auto;
    }

    .picc {
        margin: 0 auto;
    }

    .footer {
        padding: 40px 10px;
    }

    .footer_h2 {
        font-size: 30px;
    }

    .start_title {
        padding: 30px 10px;
    }
}


@media(max-width:570px) {
    .logo {
        margin: 0 auto;
    }

    .all {
        padding: 20px;
    }

    .h1 {
        font-size: 30px;
    }
}

@media(max-width:500px) {
    .spn {
        width: 100%;
    }

    .start_title {
        padding: 20px 10px;
    }
}


@media(max-width:400px) {
    .start_p, .main_p {
        font-size: 15px;
        line-height: 1;
    }

    .main_a {
        margin-bottom: 10px;
    }

    .box_h22 {
        font-size: 30px;
    }

    .icon_p {
        font-size: 15px;
        margin-left: 0;
    }
}